body {
   font-family: monospace;
    padding-top: 2rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    }

#container {
        background-color: darkblue;
        width: 90%;
        height: 500px;
        margin: 0 auto;
        margin-bottom: 3rem;
        border: 5px solid darkblue;
        /*parent elements:*/
        /**/
        display: flex;
        /* */
        flex-direction: column;
        /*allows us to change child element around*/
        justify-content: space-evenly;
        /* */
        align-items: center;
        /* */
        /*flex-wrap: wrap;*/
    }

#container div {
    width: 700px;
    height: 200px;
    color: darkolivegreen;
    font-size: 6rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}


#item-one{
    order: 3;
    /*flex-grow: 1;*/
    flex-shrink: 2;
}

#item-two {
    order: 5;
    /*flex-grow: 1;*/
    flex-shrink: 6;
}

#item-three {
    order: 1;
    /*flex-grow: 1;*/
    flex-shrink: 1;
}

#item-four {
    order: 2;
    /*flex-grow: 1;*/
    flex-shrink: 4;
}

#item-five {
    order: 4;
   /*flex-grow: 1;*/
   flex-shrink: 3;
}